out/

.local/

*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload
*.pfx
*.cer
*.p12
*.snk

*.obj
*.exe
*.pdb
*.ilk
*.exp
*.class

.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
ipch/

Thumbs.db
desktop.ini
